RewriteEngine on

RewriteRule .*\.sh - [F]
RewriteRule .*\.git.* - [F,L]

RewriteCond %{HTTP_HOST} ^www\.laptoptop7\.com$
RewriteRule (.*) http://laptoptop7.com/$1 [R=Permanent]

# if a directory or a file exists, use it directly
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# otherwise forward it to index.php
RewriteRule . index.php
